VITE_SUPABASE_URL=https://aqwnpuwqkcligjqwxggs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFxd25wdXdxa2NsaWdqcXd4Z2dzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTkwMDU2MzEsImV4cCI6MjAzNDU4MTYzMX0
